################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackupSplitterCD/bin
/BackupSplitterCD/obj
.idea/
